@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/netflix-background-image\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


#container{
    max-width: 1240px; /* responsive olması açısından */
    /* height: 1036px; içeriğe göre boyutu olacağı için kaldırdık */ 
    background-color: rgba(0,0,0,0.3);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

#title{
    font-size: 3.1rem;
    color: white;
    font-family: 'Bowlby One SC', cursive;
}

span{
    color:#ff0000
}

#description{
    font-family: 'Sorts Mill Goudy', serif;

}

#header{
    text-align: center;
    color: white;
}

textarea{
    resize: none;
}

#survey-form-container{
    width: 500px;
    margin: auto;
    /* height: 897px; */
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.8);
}

#name, #age, #mail, #type, #feedback{
    width: 100%;
    padding: 12px 10px;
    margin-top:10px ;
}
.input-box{
    margin-top: 10px;
}

#form-button{
    width: 160px;
    height: 45px;
    background-color: #ff0000;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.form-submit{
    margin: auto;
    width: 160px;
    margin-top: 15px;
}

#form-button:hover{
    background-color: aqua;
    color: black;
}

#checkbox, #radio, #feed{
    margin-top: 40px;
}

